@font-face {
    font-family: 'SWFont'; /* Nombre de la fuente */
    src: url('https://6640fdf4520656fba97045f9--sparkly-nasturtium-15b4e1.netlify.app/Starjedi.ttf') format('truetype'); /* Ruta al archivo de la fuente */
}


body{
    background-image: url('https://6640f507c06afef0f3214ce6--sparkly-nasturtium-15b4e1.netlify.app/SW%20Background.jpeg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.navbar-brand{
    font-family: 'Star Wars', sans-serif;
}